@use "sass:math";
@use '../../styles/variables' as *;

.theme-toggle {
  cursor: pointer;
  padding: 5px 0;

  * {
    height: math.div($toggle-height, 2);
    line-height: math.div($toggle-height - 5px, 2);
    color: var(--primary);
  }

  .theme-toggle__toggler {
    height: $toggle-height;
    width: math.div($toggle-height, 2);
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 2px;
    margin: 0 2px 0 10px;
    font-weight: bold;

    .theme-toggle__button {
      width: 100%;
      height: math.div($toggle-height, 2) - 8px;
      margin: math.div($toggle-height - 4px, 2) auto 0 auto;
      border: 2px solid var(--primary);
      border-radius: 50%;
      transition: .3s;
    }

    .theme-toggle__button_checked {
      margin-top: 2px;
    }
  }
}

@include laptop {
  .theme-toggle {
    font-size: 14px;
  }
}

@include tablet {
  .theme-toggle {
    font-size: 12px;

    .theme-toggle__toggler {
      border: 1px solid var(--primary);

      .theme-toggle__button {
        border: 1px solid var(--primary);
        height: math.div($toggle-height, 2) - 6px;
      }
    }
  }
}